:root {
    --primary-color: #ffffff;
    --white-color: #ffffff;
    --dark-gray-color: #2e3038;
  
    --container-width: 60rem;
    --container-width-small: 80rem;
    --container-images: 36rem;
  
    --spacings-xsmall: 1rem;
    --spacings-small: 2rem;
    --spacings-medium: 3rem;
    --spacings-large: 5rem;
    --spacings-xlarge: 8rem;
    --spacings-xxlarge: 11rem;
  
    --font-bold: 700;
    --font-xxlarge: 10rem;
    --font-xlarge: 8rem;
    --font-large: 6rem;
    --font-medium: 4rem;
    --font-normal: 2.3rem;
    --font-small: 1.8rem;
    --font-xsmall: 1.6rem;
    --font-xxsmall: 1.4rem;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: var(--font-xsmall);
    font-family: 'Open Sans', sans-serif;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='193' height='193' viewBox='0 0 200 200'%3E%3Cg %3E%3Cpolygon fill='%234c8e43' points='100 57.1 64 93.1 71.5 100.6 100 72.1'/%3E%3Cpolygon fill='%236aac5f' points='100 57.1 100 72.1 128.6 100.6 136.1 93.1'/%3E%3Cpolygon fill='%234c8e43' points='100 163.2 100 178.2 170.7 107.5 170.8 92.4'/%3E%3Cpolygon fill='%236aac5f' points='100 163.2 29.2 92.5 29.2 107.5 100 178.2'/%3E%3Cpath fill='%2389CC7C' d='M100 21.8L29.2 92.5l70.7 70.7l70.7-70.7L100 21.8z M100 127.9L64.6 92.5L100 57.1l35.4 35.4L100 127.9z'/%3E%3Cpolygon fill='%236e8d04' points='0 157.1 0 172.1 28.6 200.6 36.1 193.1'/%3E%3Cpolygon fill='%238eac2f' points='70.7 200 70.8 192.4 63.2 200'/%3E%3Cpolygon fill='%23AFCC4F' points='27.8 200 63.2 200 70.7 192.5 0 121.8 0 157.2 35.3 192.5'/%3E%3Cpolygon fill='%238eac2f' points='200 157.1 164 193.1 171.5 200.6 200 172.1'/%3E%3Cpolygon fill='%236e8d04' points='136.7 200 129.2 192.5 129.2 200'/%3E%3Cpolygon fill='%23AFCC4F' points='172.1 200 164.6 192.5 200 157.1 200 157.2 200 121.8 200 121.8 129.2 192.5 136.7 200'/%3E%3Cpolygon fill='%236e8d04' points='129.2 0 129.2 7.5 200 78.2 200 63.2 136.7 0'/%3E%3Cpolygon fill='%23AFCC4F' points='200 27.8 200 27.9 172.1 0 136.7 0 200 63.2 200 63.2'/%3E%3Cpolygon fill='%238eac2f' points='63.2 0 0 63.2 0 78.2 70.7 7.5 70.7 0'/%3E%3Cpolygon fill='%23AFCC4F' points='0 63.2 63.2 0 27.8 0 0 27.8'/%3E%3C/g%3E%3C/svg%3E");
    background-size: cover;
    background-position:left;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 5rem;
    text-transform: uppercase;
    margin: 15px;
    color: var(--white-color);
}

h2 {
    text-transform: uppercase;
    margin: 0 0 var(--spacings-medium);
}

h3 {
    font-size: var(--font-small);
    text-transform: uppercase;
    margin: 0 0 var(--spacings-medium);
}

h4 {
    font-size: 4rem;
    text-transform: uppercase;
}

p {
    margin: 0 0 var(--spacings-medium);
  }

ul {
    margin: 0 0 var(--spacings-medium);
    padding-left: 5px;
}

li {
    padding: 3px;
}

td {
    text-align: center;
    padding: 1px;
}

img {
    padding: 30px;
}

.botao {
    display: flex;
    justify-content: center;
}

button {
    font-family: 'Open Sans', sans-serif;
    font-size: var(--font-small);
    background: #6a994e;
    color: var(--white-color);
    border-style: outset;
    border-radius: 15px;
    border-color: #a7c957;
    height: 50px;
    width: 100px;
    text-shadow: none;
}

button:hover {
    font-family: 'Open Sans', sans-serif;
    font-size: var(--font-small);
    background: gainsboro;
    color: var(--dark-gray-color);
border-style: outset;
border-radius: 15px;
border-color: white;
height: 50px;
width: 100px;

text-shadow: none;
}

.title td {
    text-align: left;
}

.band {
    width: 30px;
    padding: 0;
    margin: 0;
}

.title {
    margin: 15px;
    color: #ffffff;
    text-align: left;
}

.container {
    display: inline;
}

.title ul {
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}

label span {
    background-size: 110px;
    width: 110px;
    text-align: center;
}

.title-black {
    margin: 5px;
    padding-bottom: 10px;
    padding-right: 10px;
    width: 290px;
    text-align: center;
}

.pix {
    width: 450px;
    text-align: left;
    padding-right: 15px;
    font-size: 1.2rem;
}

.games-flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.pix-flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.main-bg {
    background-color: #487346;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='193' height='193' viewBox='0 0 200 200'%3E%3Cg %3E%3Cpolygon fill='%234c8e43' points='100 57.1 64 93.1 71.5 100.6 100 72.1'/%3E%3Cpolygon fill='%236aac5f' points='100 57.1 100 72.1 128.6 100.6 136.1 93.1'/%3E%3Cpolygon fill='%234c8e43' points='100 163.2 100 178.2 170.7 107.5 170.8 92.4'/%3E%3Cpolygon fill='%236aac5f' points='100 163.2 29.2 92.5 29.2 107.5 100 178.2'/%3E%3Cpath fill='%2389CC7C' d='M100 21.8L29.2 92.5l70.7 70.7l70.7-70.7L100 21.8z M100 127.9L64.6 92.5L100 57.1l35.4 35.4L100 127.9z'/%3E%3Cpolygon fill='%236e8d04' points='0 157.1 0 172.1 28.6 200.6 36.1 193.1'/%3E%3Cpolygon fill='%238eac2f' points='70.7 200 70.8 192.4 63.2 200'/%3E%3Cpolygon fill='%23AFCC4F' points='27.8 200 63.2 200 70.7 192.5 0 121.8 0 157.2 35.3 192.5'/%3E%3Cpolygon fill='%238eac2f' points='200 157.1 164 193.1 171.5 200.6 200 172.1'/%3E%3Cpolygon fill='%236e8d04' points='136.7 200 129.2 192.5 129.2 200'/%3E%3Cpolygon fill='%23AFCC4F' points='172.1 200 164.6 192.5 200 157.1 200 157.2 200 121.8 200 121.8 129.2 192.5 136.7 200'/%3E%3Cpolygon fill='%236e8d04' points='129.2 0 129.2 7.5 200 78.2 200 63.2 136.7 0'/%3E%3Cpolygon fill='%23AFCC4F' points='200 27.8 200 27.9 172.1 0 136.7 0 200 63.2 200 63.2'/%3E%3Cpolygon fill='%238eac2f' points='63.2 0 0 63.2 0 78.2 70.7 7.5 70.7 0'/%3E%3Cpolygon fill='%23AFCC4F' points='0 63.2 63.2 0 27.8 0 0 27.8'/%3E%3C/g%3E%3C/svg%3E");
    background-size: cover;
    background-position: center center;
    width: 100%;
}

.white-text {
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    color: var(--white-color);
    padding: 25px;
}

.white-bg {
    background: var(--white-color);
    width: 100%;
    color: var(--primary-color);
    padding: 25px;
    color: var(--dark-gray-color);
    max-height: 100%;
}

.main-content {
    max-width: 120rem;
    margin: 0 auto;
    padding-left: 3rem;
    padding-right: 3rem;
}

.center-text {
    text-align: center;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    border-bottom: 0.1rem solid var(--light-gray-color);
}

.menu-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.menu-spacing {
    height: 65px;
    margin: 10px;
}

.menu h1 {
    font-size: 2.3rem;
    color: var(--primary-color);
}

.menu h1 a {
    color: inherit;

}

.section ul {
    list-style:disc;
}

.menu ul li a {
    display: block;
    font-size: 1.8rem;
    padding: 2rem;
    color: var(--primary-color);
}

.menu ul li a {
    display: block;
    font-size: 1.8rem;
    padding: 2rem;
    color: var(--primary-color);
    position: relative;
}

.menu ul li a::after {
    content: '';
    position: absolute;
    bottom: 1rem;
    left: 50%;
    width: 0;
    height: 0.1rem;
    background: var(--secondary-color);
    transition: all 300ms ease-in-out;
}

.menu ul li a:hover::after {
    left: 25%;
    width: 50%;
}

.txtbox-grande {
    width: 300px;
}

.txtbox-media {
    width: 200px;
}

.txtbox-pqn {
    width: 30px;
}